# Data Frame
In pandas a spreadsheet table called as a data frame, a data frame is a combination of rows and columns.
Each column in a dataframe called as a series.

In [7]:
import numpy as np
import pandas as pd

In [8]:
data = pd.DataFrame( { 'S.no': [1,2,3,4], 'City' : ['Hyderabad', 'Chennai', 'Banglore', 'Pune']})

In [9]:
data

   S.no       City
0     1  Hyderabad
1     2    Chennai
2     3   Banglore
3     4       Pune